.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: lightgreen;
}

.dialogsItems {
    padding: 10px;
    color: white;
}
.dialogsItems a {
    color: darkslategray;
    text-decoration: none;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.dialog {
    color: white;
}